/* Common Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --flo_card: #0F0E17;
    --flo_email: #6ECBE3;
    --flo_title: #E53170;
    --flo_backg: #FFFFFE;
}

.container {
    margin: auto;
    width: 80%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {;
    float: left;
    width: 100px;
    max-width: 100%;
}


header{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.title{
    color: var(--flo_title);
    margin-bottom: 1.5rem;
}

.col_4 {
    float: left;
    width: calc(100% / 3);
    background-color: var(--flo_card);
    color: white;
    box-shadow: 0 0 2px lightgrey;
    margin: 1rem 1.5rem; 

}


.targa{
    float: left;
    padding: 1rem;

}

.nome{
    font-size: larger;
}



.email {
    color: var(--flo_email);
}